{% extends "base.html" %}
{% load i18n %}

{% block title %}
	Llegar y Jugar
{% endblock title %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<!-- 
	<h2>Realizar reserva</h2>
	<p> Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
	{% for field in form %}
		{{field.error}}
	{% endfor %}
	<form  method="post">{% csrf_token %}
	<table>
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
	        {{ form }}
	    {% endfor %}
	{% else %}
	    {{ wizard.form }}
	{% endif %}
	</table>
	{% if wizard.steps.prev %}
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">"first step"</button>
	<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">"prev step"</button>
	{% endif %}
	<input type="submit" value="submit "/>
	</form> -->

	<section>
        <div class="wizard">
                <ul class="nav nav-wizard">

                    <li class="active">
                        <a href="#step1" data-toggle="tab">Seleccionar Recinto</a>
                    </li>

                    <li class="disabled">
                        <a href="#step2" data-toggle="tab">Seleccionar Horario</a>
                    </li>

                    <li class="disabled">
                        <a href="#step3" data-toggle="tab">Seleccionar Accesorios</a>
                    </li>
                    
                     <li class="disabled">
                        <a href="#step4" data-toggle="tab">Seleccionar Metodo de Pago</a>
                    </li>
                    <li class="disabled">
                        <a href="#step5" data-toggle="tab">Confirmación</a>
                    </li>
                </ul>

            <form>
                <div class="tab-content">
                    <div class="tab-pane active" id="step1">
                        <h3>Paso 1</h3>
                        <p>Recintos</p>

                            <div class="row">
                        	{% for club in clubs %}
									<div class="col-sm-6 col-md-4">
										<div class="thumbnail" >
											<h4 class="text-center"><span class="label label-info">{{ club.name }}</span></h4>
											<img src="{{ club.logo.url }}" class="img-responsive">
											<div class="caption">
												<div class="row">
													<div class="col-md-12 col-xs-12">
														<h3>{{ club.description }}</h3>
													</div>
												</div>
												<p>{{ club.address }}</p>
												<div class="row">
													<div class="col-md-6">
														<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Me gusta</a> 
													</div>
													<div class="col-md-6">
														<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Seleccionar</a></div>
												</div>

												<p> </p>
											</div>
										</div>
									</div>
                        		{% endfor %}
							</div>	
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary">Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="step2">
                        <h3>Paso 2</h3>
                        <p>Este es el paso 2</p>
                        <ul class="list-inline pull-right">
                           <li><button type="button" class="btn btn-primary">Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="step3">
                        <h3>Paso 3</h3>
                        <p>Este es el paso 3</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary">Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="step4">
                        <h3>Paso 4</h3>
                        <p>Este es el paso 3</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary">Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="step5">
                        <h3>Reserva exitosa!</h3>
                        <p>Has realizado una reserva correctamente. Los datos de tu reserva fueron enviados a tu correo.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
